body { 
  /*background-color: rgb(250,205,40); */
  /*background-color: rgb(90,156,215); */
  /*background-color: rgb(199,162,107);*/
  /*background-color: rgb(29,30,26);*/
  font-family: 'Gaegu', 
  sans-serif; font-size: 2em; 
}

section { 
  width: 100%; 
}

.page-title { 
  margin: -1.5%; 
}

svg { 
  background-color: rgb(250,205,40); 
  /*border: solid #000000 1px;*/
  margin: 0.5% 0.5% 0.5% 0.5%;
}

div {
  /*border: solid #000000 1px;*/
  padding: 0.75% 0px 0.75% 0px;
}

.introduction { 
  /*background-color: rgb(250,205,40); */
  text-transform: uppercase; 
  letter-spacing: 0.1em; 
  font-weight: bold; 
}

.end-section-div {
  height: 100px;
}

/* CSS for slider */
/* Slider created with guidance from https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slidecontainer {
  width: 50%; /* Width of the outside container */
  font-family: 'Gaegu', sans-serif;
  padding-bottom: 50px;
  margin: auto;
  text-align: center;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: rgb(60,53,14); /* Background color */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 50px; /* Set a specific slider handle width */
  height: 50px; /* Slider handle height */
  border: 0;
  background: url('images/donut.png');
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 50px; /* Set a specific slider handle width */
  height: 50px; /* Slider handle height */
  border: 0;
  background: url('donut.png');
  cursor: pointer; /* Cursor on hover */
}

.left-button {
  float: left;
  padding: 5% 5%;/*20px 80px;*/
  /*margin: 0.25% 0.25%;*/
  opacity: 0.6;
  transition: 0.1s;
  cursor: pointer;
  /*display: inline-block;
  text-align: center;
  font-size: 16px;
  text-decoration: none;*/
}

.left-button:hover {
  opacity: 1;
}

.right-button {
  float: right;
  padding: 5% 5%;
  /*margin: 0.25% 0.25%;  */
  opacity: 0.6;
  transition: 0.1s;
  cursor: pointer;
  /*display: inline-block;
  text-align: center;
  font-size: 16px;
  text-decoration: none;*/
}

.right-button:hover {
  opacity: 1
}

.ep-title-div {
  margin: auto;
  width: 80%;
  text-align: center;
  /*border: 1px solid black;*/
}

.ep-image-div {
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
  text-align: center;
}

.ep-location-div {
  /*border: 1px solid black;*/
  width: 45%;
  float: right;
  margin-right: 2%;
  text-align: center;
}

.ep-character-div {
  /*border: 1px solid black;*/
  width: 45%;
  float: left;
  margin-left: 2%;
  text-align: center;
}

.ep-gender-div {
  /*border: 1px solid black;*/
  width: 30%;
  margin: auto;
  text-align: center;
}
